@use "../abstracts/setup" as *;

#citation {
  padding: 100px 0;
  z-index: 2;
  position: relative;
  background-color: $light;

  h2 {
    color: $primary-color;
    text-align: center;
    letter-spacing: 0;
    font-family: "ivypresto-display", serif;

    strong {
      color: $primary-colzor;
      font-weight: 300;
      font-style: italic;
    }
  }

  .cta-line {
    margin: 50px auto 0;
    width: fit-content;
    padding: 5px 150px;
    color: $dark-gray;
  }
}
