/* Mixins Dégradés */

@mixin liGray-to-white {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

@mixin Gray-to-dark {
  background: #1e1e1e;
  background: -webkit-linear-gradient(
    90deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1E1E1E", endColorstr="#000000", GradientType=1);
}
