// _variables.scss

$primary-color: #202024;
$hover: #213050;
$hover-transparent: #2f457460;

$gold-color: #bd9035;
$secondary-color: #fff;
$hover-secondary: #202024;

$textGray: #7a7a7a;

$light: #fff;
$light-transparent: #ffffff40;
$dark: #000;
$bg-light-gray: #f7f7f7;
$light-gray: #c9c9c9;
$middle-gray: #5d5d5d;
$dark-gray: #312f32;
$dark-dark-gray: #202024;

$Wix: "Wix Madefor Display", sans-serif;
$Ivy: "ivypresto-display", serif;
