// _variables.scss

$primary-color: #202024;
$hover: #213050;
$hover-transparent: #2f457460;

$secondary-color: #fff;
$hover-secondary: #202024;

$light: #fff;
$dark: #000;
$bg-light-gray: #f7f7f7;
$light-gray: #efefef;
$middle-gray: #5d5d5d;
$dark-gray: #312f32;
$dark-dark-gray: #202024;
