@use "../abstracts/_setup.scss" as *;

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70vw !important;
  margin: 0 auto;

  &.columns {
    display: flex;
    gap: 100px;
  }

  &.content {
    max-width: 1200px;
  }
}

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary-color;
  color: $light;
  opacity: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  z-index: 999;
  transition: all ease-in 300ms;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 25px;
    position: relative;
    animation: up-and-down 5s ease-in-out infinite;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: $light;
  background: $primary-color;
}

::selection {
  color: $light;
  background: $primary-color;
}

#prev-next-post {
  .container {
    a {
      text-decoration: none;
    }

    .cold,
    .colg {
      width: 50%;

      .block-img {
        max-height: 250px;
        height: 250px;
      }

      h4 {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 20px;
      }
    }

    .colg {
      h4 {
        &:before {
          content: "⟵";
          margin-right: 30px;
        }
      }
    }
    .cold {
      h4,
      p {
        text-align: right;
      }

      h4 {
        &::after {
          content: "⟶";
          margin-left: 30px;
        }
      }
    }
  }
}

.filter-faqs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 80px auto;
}

.filter-item {
  border-bottom: 1px solid $gold-color;
  padding: 8px 25px;
  color: $gold-color;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.filter-item.active {
  background: $gold-color;
  color: $light;
}

.listing-faqs {
  position: static !important;
}
.listing-faqs .faq-item {
  position: static !important;
}
