@use "../abstracts/_setup.scss" as *;

.cta {
  padding: 10px 40px;
  background-color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  color: $light;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  line-height: 0.9rem;
  height: 20px;
  width: fit-content;
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $light;
    z-index: -1;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all ease-in-out 300ms;
  }

  &:hover {
    color: $primary-color;

    &:after {
      transform: scaleX(1);
    }
  }

  &.-gold {
    background-color: $gold-color;
    color: $light;

    &:after {
      background-color: $dark;
    }
  }
}

.cta-white {
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  line-height: 0.9rem;
  height: 20px;

  &:before {
    content: ">";
    color: $light-gray;
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 300;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $primary-color;
    z-index: -1;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all ease-in-out 300ms;
  }

  &:hover {
    color: $light;

    &:after {
      transform: scaleX(1);
    }
  }
}

.cta-line {
  text-transform: uppercase;
  color: $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 0.9rem;
  transform: translateY(0);
  width: fit-content;
  display: flex;
  align-items: center;
  line-height: 0.9rem;
  height: 20px;

  padding-bottom: 0px;
  transition: transform ease-in-out 300ms;

  &:hover {
    transform: translateY(-10px);
    border-bottom: none;
  }
}
