@use "../abstracts/_setup.scss" as *;

.cta {
  align-items: center;
  background: $primary-color;
  border-bottom: 1px solid;
  color: $light;
  display: flex;
  font-size: 0.9rem;
  height: 20px;
  letter-spacing: 2px;
  line-height: 0.9rem;
  padding: 10px 40px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 300ms ease-in-out;
  width: fit-content;
  z-index: 0;

  &.-gold {
    background: $gold-color;
    border-bottom: 1px solid $gold-color;
    color: $light;
  }

  &.-border {
    background: none;
    border: 1px solid $light;
    overflow: hidden;
  }

  &:hover {
    background: transparent !important;
    border-bottom: 1px solid $light !important;
    filter: invert(1);
  }
}

.cta-white {
  padding: 10px 40px 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  line-height: 0.9rem;
  height: 20px;
  border-bottom: 1px solid transparent;
  transition: all ease-in 500ms;

  &:before {
    content: ">";
    color: $light-gray;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    transition: all ease-in 500ms;
  }

  &:hover {
    color: $gold-color;
    border-bottom: 1px solid $gold-color;

    &::before {
      color: $gold-color;
    }
  }
}

.cta-line {
  text-transform: uppercase;
  color: $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 0.9rem;
  width: fit-content;
  display: flex;
  align-items: center;
  line-height: 0.9rem;
  height: 20px;

  padding-bottom: 0px;
  transition: transform ease-in-out 300ms;

  &:hover {
    border-bottom: 1px solid transparent;
  }
}
