@use "../abstracts/_setup.scss" as *;

#banner-top {
  background-color: rgba(0, 0, 0, 0.3);
  color: $light;
  padding: 5px;
  width: calc(100vw - 10px);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  .container {
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 90vw !important;

    .contact {
      display: flex;
      gap: 20px;

      a,
      p {
        text-decoration: none;
        color: $light;
        font-size: 0.7rem;
      }
    }

    .rs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;

      a {
        height: 20px;
        display: block;

        img {
          filter: invert(1);
        }
      }
    }
  }
}

header {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;

  #sticky-trigger {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
  }

  #main-header {
    min-height: 150px;
    position: relative;
    top: 30px;
    background: rgba(255, 255, 255, 0);
    transition: all ease-in-out 300ms;

    .content {
      padding: 30px 0 50px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light;
      transition: all ease-in-out 300ms;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $light;
        letter-spacing: 2px;
        font-size: 0.8rem;
      }

      #btnMegamenu {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          height: 20px;
        }
      }

      .block-img {
        max-width: 250px;
      }

      .cold {
        display: flex;
        gap: 20px;
        justify-content: flex-end;

        select {
          padding-left: 20px;
          border: none;
          border-left: 1px solid $light;
          background: none;
          color: $light;
          font-size: 0.8rem;
        }
      }
    }

    &.sticky {
      top: 0;
      background: $light;
      position: fixed;
      width: 100vw;
      min-height: 75px;
      box-shadow: 0 2px 20px rgb(0 0 0 / 10%);

      .content {
        padding: 10px 0;
        border: none;

        a,
        .cold select {
          color: $dark;
        }

        .block-img {
          max-width: 200px;
          img {
            filter: invert(1);
          }
        }

        #btnMegamenu {
          svg {
            stroke: $dark;
          }
        }
      }
    }
  }

  #megamenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(80px) saturate(1.8);
    width: 50vw;
    z-index: 1;
    height: 100vh;
    transform: translateX(-50vw);
    transition: transform ease-in 300ms;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.active {
      transform: translateX(0);
      // NE PAS remettre transform/opacity ici pour les <li>
    }

    .content-megamenu {
      ul {
        padding-right: calc(16px + 6.5vw);

        li {
          display: block;
          margin-bottom: 30px;
          opacity: 0;
          transform: translateX(-100%);
          width: 100%;
          text-align: right;
          will-change: opacity, transform;
          transition: opacity 0.8s ease, transform 0.8s ease;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $light-gray;
            cursor: none;

            &:hover {
              color: $light;
            }
          }
        }
      }
    }
  }

  // .circle-cursor {
  //   width: 20px; /* Adjust size as needed */
  //   height: 20px;
  //   background-color: rgba(255, 255, 255, 0.2);
  //   border: 1px solid $gold-color;
  //   backdrop-filter: blur(5px);
  //   border-radius: 50%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   transform: translate(-50%, -50%); /* Centers the circle on the cursor */
  //   pointer-events: none; /* Prevents interference with other elements */
  //   z-index: 999; /* Ensure it's on top */
  //   display: none; /* Initially hidden */
  // }
}
