@use "../abstracts/_setup.scss" as *;

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw !important;

    &.columns {
      flex-direction: column;
      gap: 30px;

      .colg,
      .cold,
      .col {
        width: 100% !important;
      }
    }
  }

  .columns {
    flex-direction: column;
    gap: 30px;

    .colg,
    .cold,
    .col {
      width: 100% !important;
    }
  }

  #banner-top {
    display: none;
  }

  header {
    .columns {
      flex-direction: row !important;
    }

    #main-header {
      .container {
        flex-direction: column-reverse !important;
        gap: 10px;
        padding: 15px 0 30px;

        .cold {
          display: none;
        }
      }

      &.megamenu-open {
        background: none;
        filter: invert(0);
        box-shadow: none;
        z-index: 3;
      }
    }

    .content {
      #btnMegamenu {
        justify-content: center;
      }
    }

    #megamenu {
      width: 100vw;
      transform: translateX(-100vw);
      position: fixed;
      justify-content: center;
      overflow: hidden;

      .content-megamenu {
        ul {
          padding-right: 0;

          li {
            text-align: center;
          }
        }
      }
    }
  }

  #hero_container {
    .container {
      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
      }

      h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 15px;
        text-align: center;
      }
    }

    &.swiper-hero {
      height: 60vh;

      .swiper-wrapper {
        .swiper-slide {
          height: 60vh;
        }
      }
    }
  }

  #introduction {
    .container {
      flex-direction: column-reverse;
      gap: 40px;

      .colg,
      .cold {
        width: 100%;
      }

      .colg {
        .block-img {
          width: 100%;
          height: 370px;
          max-width: 100%;
        }

        p {
          text-align: left;
        }
      }

      &.img {
        flex-direction: column;
      }

      .cold {
        .block-galerie {
          margin: 0 auto 30px;
        }
      }
    }
  }

  #intro-about {
    .container {
      &.-top,
      &.-bottom {
        margin: auto;
        margin-right: auto;
        margin-left: auto;
        gap: 50px;
      }

      .cold {
        .block-img {
          margin-top: 0;
        }
      }

      &.-bottom {
        max-height: 100vh;

        .cold {
          padding-top: 0;

          .block-img {
            margin-top: 450px;
          }
        }
      }
    }
  }

  /* END INTRO */

  #description-chambre,
  #informations-toggle {
    .container {
      width: 80vw !important;
      margin-left: auto;
    }
  }

  #citation,
  #fullwidth-banner {
    .cta-line {
      padding: 5px 80px;
    }

    .parallax-bg {
      height: 100vh;
    }
  }

  #galerie-ardennes {
    height: 360px;
    grid-template-rows: repeat(1, 1fr);

    .bigImg {
      height: 250px;
      width: 100vw;
      grid-area: 1 / 1 / 5 / 5;
    }

    .smallImg1,
    .smallImg2,
    .smallImg3,
    .smallImg4 {
      height: 110px;
      aspect-ratio: 1;
      width: 25vw;
      opacity: 1 !important;
    }

    .smallImg1 {
      grid-area: 2 / 1 / 2 / 2;
    }
    .smallImg2 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .smallImg3 {
      grid-area: 2 / 3 / 4 / 4;
    }
    .smallImg4 {
      grid-area: 2 / 4 / 4 / 4;
    }
  }

  #ardennes {
    padding: 0;

    &::after {
      top: -5%;
    }

    .container {
      gap: 50px;
    }
  }

  #chambres-suites {
    padding: 50px 0;

    .columns {
      margin-bottom: 50px;

      h2 {
        margin-bottom: 30px;
      }
    }

    .container {
      .swiper-chambre {
        width: 70vw;
        height: 400px;

        .swiper-wrapper {
          .swiper-slide {
            height: 400px;
          }
        }
      }

      .swiper-button-next {
        right: 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 5px 10px;
        backdrop-filter: blur(50px);
        width: 50px;
      }
      .swiper-button-prev {
        left: 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 5px 10px;
        backdrop-filter: blur(50px);
        width: 50px;
      }
    }
  }

  #prestation-infra {
    .swiper-prestation {
      .swiper-slide {
        height: 400px;

        .overlay {
          height: 60px;
        }
      }
    }
  }

  #evenements {
    height: auto;
    max-height: max-content;
    padding: 0;

    .container.columns {
      .colg {
        .swiper-events {
          height: 550px;

          .swiper-wrapper {
            .swiper-slide {
              height: 500px;
            }
          }
        }
        .blockDark {
          right: 5vw;
          bottom: 0px;
          height: 130px;
        }
      }
    }
  }

  #description-chambre,
  #informations-toggle {
    .block-cta {
      gap: 30px;
    }
  }

  #galerie-builder {
    .container {
      width: 70vw !important;
    }
  }

  #parallax-sky {
    position: relative;
    height: 350px;
    overflow: hidden;

    .parallax-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: -1;
    }
  }

  #chef,
  #piscine {
    position: relative;

    #backgroundChef,
    #backgroundPiscine {
      height: 100vh;
      width: 100vw;
      z-index: 0;
      position: relative;
      overflow: hidden;
    }

    #backgroundChef img,
    #backgroundPiscine img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }

    #text,
    #textPiscine {
      height: 50vh;
      width: 80vw;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      position: relative;
      top: 0;
      z-index: 2;

      h2 {
        font-size: 3rem;
        line-height: 3.5rem;
      }

      h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }

  #section-logo {
    padding: 50px 0;

    .container {
      gap: 20px;

      .colg {
        border: none;
        padding-right: 0;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  footer {
    .container {
      .footer-middle-top {
        align-items: center;

        .block-right {
          .columns {
            .colg,
            .cold {
              p,
              li {
                text-align: center;
              }
            }
          }
        }
      }

      .footer_bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #sticky-columns,
  #sticky-columns-right {
    .container {
      .sticky {
        position: relative;
        top: 0;
      }
    }
  }

  #sticky-columns-right {
    .container {
      flex-direction: column-reverse;
    }
  }

  .page-template-contact {
    #hero_container {
      height: 125vh;

      .columns {
        .cold {
          width: 90% !important;
        }
      }
    }
  }

  .page-template-listing-chambres {
    #hero_container {
      height: 50vh;
      padding-bottom: 10vh;
    }

    #listing-chambres {
      padding-bottom: 0;

      .container {
        &.-col3,
        &.-col2 {
          .card-rooms {
            width: 100%;
            height: 200px;

            a {
              .titleRoom {
                height: 100%;

                p {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
            }
          }
        }
      }
    }
  }
}
